   <!-- Handlebar template for form -->
   
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.source}}" placeholder="Source" name="source">
        <label for="floatingInput">Source</label>
    </div>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.latin-name_nom-latin}}" placeholder="Latin Name" name="latin-name_nom-latin">
        <label for="floatingInput">Latin Name</label>
    </div>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.english-name_nom-anglais}}" placeholder="English Name" name="english-name_nom-anglais">
        <label for="floatingInput">English Name</label>
    </div>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.french-name_nom-français}}" placeholder="French Name" name="french-name_nom-français">
        <label for="floatingInput">Source</label>
    </div>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.year_année}}" placeholder="Year" name="year_année">
        <label for="floatingInput">Year</label>
    </div>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.month_mois}}" placeholder="Month" name="month_mois">
        <label for="floatingInput">Month (Numeric)</label>
    </div>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.number-otoliths_nombre-otolithes}}" placeholder="Number Otoliths" name="number-otoliths_nombre-otolithes">
        <label for="floatingInput">Number Otoliths</label>
    </div>

    <!-- Buttons to submit form and to revert back to index page -->
    <button class="btn btn-primary" type="submit">Submit</button>
    <a href="/" type="button" class="btn btn-light btn-small"> Cancel</a>
